<form method="post" action="{% url 'blog:blog_create' %}" enctype="multipart/form-data">
    {% csrf_token %}
{#    <table>#}
{#    {{ form.as_table }}#}
{#        </table>#}

    <label for="fname">Title:</label>
    <input type="text" id="fname" name="title"><br><br>
    <label for="lname">Author:</label>
    <select name="author" id="lname">
        {% for user in users %}
            <option value={{ user.username }}>{{ user }}</option>
        {% endfor %}
    </select><br><br>
    <label for="lname">Body:</label>
    <input type="text" id="lname" name="body"><br><br>
    <label for="fphoto">Photo</label>
    <input type="file" name="photo" id="fphoto">
    <input type="submit" value="Submit">
</form>

{{ users }}
{#OWASPP top 10:#}
{#1) CSRF (Cross site request forgery)#}