{% load static %}
<link rel="stylesheet" href="{% static 'list.css' %}">
<h1>
    posts:
    {% for post in post_table_ko_data %}
        <br>
        <a href="{% url 'blog:blog_detail' post.id %}"> {{ post.title }} </a>
        <br>
        <br>
        <img src="{{ MEDIA_URL }}{{ post.photo }}"> {# {{ media_url }} -> media/blogs/pexels-photo-2486168.jpeg    post.photo --> blogs/pexels-photo-2486168.jpeg#}
        <br>
    {% endfor %}
    <br>title
    test: {{ test_value }}
    <br>
    {{ num_visits }}
    <br>

{#    <br>#}
{#    {% for forms in formset %}#}
{#        <table>#}
{#            {{ forms.as_table }}#}
{#        </table>#}
{#    {% endfor %}#}
</h1>
